---
import { client } from '../../../tina/__generated__/client';
import Layout from '../../layouts/Layout.astro';

const teamConnection = await client.queries.teamConnection({ sort: 'order' });

const teams = teamConnection.data.teamConnection.edges?.map((edge) => edge?.node) ?? [];

const currentYear = new Date().getFullYear();
const teamsThisYear = teams.filter((team) => new Date(team?.season ?? '').getFullYear() === currentYear);
---

<Layout>
  <h1>Unsere Mannschaften für {currentYear}</h1>
  {
    !!teamsThisYear.length && (
      <nav class="bg-secondary-content rounded-box w-fit m-auto">
        <ul class="menu !p-4 text-4xl">
          {teamsThisYear.map((team) => (
            <li class="">
              <a class="!m-0 no-underline" href={`/mannschaften/${team?.slug}`}>
                {team?.ageGroup}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
  {!teamsThisYear.length && <i class="block text-center">Die Mannschaften werden im Januar bis Februar gemeldet.</i>}
</Layout>
