html {
  --brand-purple: #4b4bff;

  --text-1-purple: var(--purple-9);
  --text-2-purple: var(--purple-7);

  --surface-1-purple: var(--purple-0);
  --surface-2-purple: var(--purple-1);
  --surface-3-purple: var(--purple-2);
  --surface-4-purple: var(--purple-3);
}

html {
  --brand-dim: #4b4bff;

  --text-1-dim: var(--gray-3);
  --text-2-dim: var(--gray-4);

  --surface-1-dim: var(--gray-8);
  --surface-2-dim: var(--gray-7);
  --surface-3-dim: var(--gray-6);
  --surface-4-dim: var(--gray-5);
}

html {
  --brand-dark: #4b4bff;

  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);

  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
}

html {
  --brand-light: #4b4bff;

  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);

  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
}

:root {
  --brand: var(--brand-light);

  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--brand-dark);

    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);

    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
  }
}

@media (prefers-contrast: less) {
  :root {
    --brand: var(--brand-dim);

    --text-1: var(--text-1-dim);
    --text-2: var(--text-2-dim);

    --surface-1: var(--surface-1-dim);
    --surface-2: var(--surface-2-dim);
    --surface-3: var(--surface-3-dim);
    --surface-4: var(--surface-4-dim);
  }
}

[color-scheme='purple'] {
  --brand: var(--brand-purple);

  --text-1: var(--text-1-purple);
  --text-2: var(--text-2-purple);

  --surface-1: var(--surface-1-purple);
  --surface-2: var(--surface-2-purple);
  --surface-3: var(--surface-3-purple);
  --surface-4: var(--surface-4-purple);
}

html {
  background-color: var(--surface-1);
  color: var(--text-1);
  accent-color: var(--link);
}

.surface-1 {
  background-color: var(--surface-1);
  color: var(--text-2);
}

.surface-2 {
  background-color: var(--surface-2);
  color: var(--text-2);
}

.surface-3 {
  background-color: var(--surface-3);
  color: var(--text-1);
}

.surface-4 {
  background-color: var(--surface-4);
  color: var(--text-1);
}

h1,
h2,
h3,
h4,
p,
dt {
  color: var(--text-1);
  margin-block: var(--size-4);
}

h5,
h6,
small,
dd {
  color: var(--text-2);
}

h1 {
  font-size: 3rem;
  padding-inline: var(--size-2);
  margin-block: var(--size-8);
}

h2 {
  font-size: 2rem;
  padding-inline: var(--size-2);
  margin-block: var(--size-7);
}

html {
  font-size: 2rem;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding-inline: var(--size-fluid-1);
  padding-block: var(--size-8);
}

.header {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.header__logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logo__image {
  height: var(--size-fluid-8);
}

.navigation {
  font-size: var(--font-size-4);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--size-2);
}

#navigation__drawer-checkbox {
  display: none;
}

.navigation__drawer-opener {
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--size-4) var(--size-4) 0 0;
  width: var(--size-8);
  cursor: pointer;
  stroke: var(--text-1);
}

.navigation__drawer-overlay {
  display: none;
  inset: 0;
  backdrop-filter: blur(1px);
  position: fixed;
  background-color: rgba(100, 100, 100, 0.5);
}

.navigation__drawer {
  inset: 0 auto 0 0;
  max-width: 80vw;
  padding: var(--size-fluid-1) var(--size-fluid-2);
  background: var(--surface-2);
  position: fixed;
  translate: -100% 0;
  transition: translate 0.5s ease-in-out;
  overflow-y: auto;
}

#navigation__drawer-checkbox:checked ~ .navigation__drawer-overlay {
  display: block;
}

#navigation__drawer-checkbox:checked ~ .navigation__drawer {
  translate: 0 0;
}

.navigation__drawer .navigation__item {
  display: block;
  line-height: 2;
}

.navigation__item {
  color: inherit;
  text-decoration: none;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.become-member {
  background: var(--brand);
  color: var(--text-1);
  padding: var(--size-1) var(--size-2);
  margin-block-start: var(--size-2);
  border-radius: var(--radius-2);
  text-align: center;
  text-transform: uppercase;
}

.footer {
  display: flex;
  padding-inline: var(--size-fluid-2);
  height: var(--size-fluid-7);
  background: var(--surface-2);
  align-items: center;
}

.footer__link-separator {
  padding-inline: 0.5rem;
}
