---
import client from '../../tina/__generated__/client';
import Article from '../components/Article';
import Layout from '../layouts/Layout.astro';

const articleConnection = await client.queries.articleConnection({
  sort: 'createdAt',
  last: 3,
});

const articles = await Promise.all(
  articleConnection.data.articleConnection.edges
    ?.map((edge) => edge?.node)
    .map((node) => client.queries.article({ relativePath: node?._sys.relativePath ?? '' })) ?? []
);
---

<Layout
  >{articles.map((article) => <Article client:tina {...article} />)}<div class="mt-4 text-center italic text-2xl">
    Die vollständige Liste unserer Artikel befindet sich in den <a href="/archiv/rueckblick">Jahresrückblicken</a>.
  </div></Layout
>
