---
import { client } from '../../.tina/__generated__/client';
import { MyComponent } from '../components/react';
import Layout from '../layouts/Layout.astro';
const response = await client.queries.post({ relativePath: 'hello-world.md' });
---

<Layout>
  <img alt="Die Anlage" src="/assets/background.jpg" class="content__eye-catcher" />
  <h1 class="content__title">Willkommen beim TC Blau-Weiß Bischberg e.&nbsp;V.</h1>
  <img alt="Die neue Überdachung" src="/assets/ueberdachung.jpg" class="content__eye-catcher" />
  <div class="sponsors">
    <h2>Vielen Dank an unsere Sponsoren und Partner</h2>
    <span class="sponsors__description"
      >Wir freuen uns über jede Unterstützung! Wenn auch Sie Interesse haben, den Verein zu unterstützen, wenden Sie
      sich gerne an unsere <a href="vorstand">Vorstandschaft</a>.</span
    >
    <div class="sponsor-items">
      <div class="sponsor">
        <a href="https://kuechen-hummel.de" target="_blank" class="sponsor__link"
          ><img class="sponsor__image" alt="Logo von Küchen Hummel" src="/assets/sponsors/kuechen-hummel.webp" /></a
        >
      </div>
      <div class="sponsor">
        <a href="https://leben-ist-bewegen.info/" target="_blank" class="sponsor__link"
          ><img
            class="sponsor__image"
            alt="Logo von Leben ist bewegen"
            src="/assets/sponsors/leben-ist-bewegen.jpg"
          /></a
        >
      </div>
      <div class="sponsor">
        <a href="https://www.malerbetrieb-foertsch.de/" target="_blank" class="sponsor__link"
          ><img
            class="sponsor__image"
            alt="Logo von Malerbetrieb Förtsch"
            src="/assets/sponsors/malerbetrieb-foertsch.png"
          /></a
        >
      </div>
      <div class="sponsor">
        <a href="https://www.spielwarengigant.com" target="_blank" class="sponsor__link"
          ><img class="sponsor__image" alt="Logo von Spielwarengigant" src="/assets/sponsors/spielwarengigant.jpg" /></a
        >
      </div>
      <div class="sponsor">
        <a href="https://sport-wittke.de/" target="_blank" class="sponsor__link"
          ><img class="sponsor__image" alt="Logo von Sport Wittke" src="/assets/sponsors/sport-wittke.png" /></a
        >
      </div>
    </div>
  </div>
</Layout>
<style>
  details > .navigation__item {
    margin-inline-start: var(--size-2);
  }

  .content__title {
    max-inline-size: 100%;
    text-align: center;
  }

  .content__eye-catcher {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  .sponsors {
    max-inline-size: 100%;
    box-shadow: var(--shadow-4);
    border-radius: var(--radius-3);
  }

  .sponsor {
    display: flex;
    justify-content: center;
    margin-block: var(--size-4);
  }

  .sponsor__image {
    width: 60vw;
    object-fit: cover;
  }
</style>
