---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="content__title">Unser Vorstand</h1>
  <div class="board">
    <div class="board-member">
      <div class="board-member__role">1. Vorsitzende</div>
      <address>
        <div class="board-member__name">Maria Metzner</div>
        <div class="board-member__phone"><a href="tel:01716874256">0171&nbsp;6874256</a></div>
        <div class="board-member__address">Schulstraße 41</div>
        <div class="board-member__city">96120 Bischberg</div>
        <a href="mailto:vorstand@tcbischberg.de">Email</a>
      </address>
    </div>
    <div class="board-member">
      <div class="board-member__role">2. Vorsitzender</div>
      <address>
        <div class="board-member__name">Nicolas Kennemann</div>
        <div class="board-member__phone"><a href="tel:015788361431">0157&nbsp;88361431</a></div>
        <div class="board-member__address">Trosdorfer Weg 12</div>
        <div class="board-member__city">96120 Bischberg</div>
        <a href="mailto:vorstand@tcbischberg.de">Email</a>
      </address>
    </div>
    <div class="board-member">
      <div class="board-member__role">3. Vorsitzende</div>
      <address>
        <div class="board-member__name">Bärbel Knöffel</div>
        <div class="board-member__phone"><a href="tel:01709887937">0170&nbsp;9887937</a></div>
        <div class="board-member__address">Mühlleite 5</div>
        <div class="board-member__city">96191 Viereth</div>
        <a href="mailto:vorstand@tcbischberg.de">Email</a>
      </address>
    </div>
  </div>
  <h2 class="content__title">Erweiterter Vorstand</h2>
  <div class="board">
    <div class="board-member">
      <div class="board-member__role">Schriftführerin</div>
      <address>
        <div class="board-member__name">Carmen Schwappach</div>
        <div class="board-member__phone"><a href="tel:095162918">0951&nbsp;62918</a></div>
        <div class="board-member__phone"><a href="tel:01797898837">0179&nbsp;7898837</a></div>
        <div class="board-member__address"></div>
        <div class="board-member__city"></div>
      </address>
    </div>
    <div class="board-member">
      <div class="board-member__role">Sportwartin Erwachsene</div>
      <address>
        <div class="board-member__name">Carmen Schwappach</div>
        <div class="board-member__phone"><a href="tel:095162918">0951&nbsp;62918</a></div>
        <div class="board-member__phone"><a href="tel:01797898837">0179&nbsp;7898837</a></div>
        <div class="board-member__address"></div>
        <div class="board-member__city"></div>
      </address>
    </div>
    <div class="board-member">
      <div class="board-member__role">Jugendsportwarte</div>
      <address>
        <div class="board-member__name">Matthias Peetz</div>
        <div class="board-member__name">Catarina Göller</div>
        <div class="board-member__phone"></div>
        <div class="board-member__address"></div>
        <div class="board-member__city"></div>
      </address>
    </div>
    <div class="board-member">
      <div class="board-member__role">Kassiererin</div>
      <address>
        <div class="board-member__name">Elvira Bernreuther</div>
        <div class="board-member__phone"><a href="tel:095169190">0951&nbsp;69190</a></div>
        <div class="board-member__address"></div>
        <div class="board-member__city"></div>
      </address>
    </div>
    <div class="board-member">
      <div class="board-member__role">Vergnügungswartinnen</div>
      <address>
        <div class="board-member__name">Monika Starke</div>
        <div class="board-member__phone"><a href="tel:095166977">0951&nbsp;66977</a></div>
        <div class="board-member__phone"><a href="tel:01703077716">0170&nbsp;3077716</a></div>
        <div class="board-member__address"></div>
        <div class="board-member__city"></div>
        <div class="board-member__name">Martina Hoffmann</div>
      </address>
    </div>
    <div class="board-member">
      <div class="board-member__role">Hüttenwart</div>
      <address>
        <div class="board-member__name">Harald Schlauch</div>
        <div class="board-member__phone"><a href="tel:095166977">09503&nbsp;504777</a></div>
        <div class="board-member__phone"><a href="tel:01703077716">0175&nbsp;2640541</a></div>
        <div class="board-member__address"></div>
        <div class="board-member__city"></div>
      </address>
    </div>
    <div class="board-member">
      <div class="board-member__role">Platzwart</div>
      <address>
        <div class="board-member__name">Dieter Knöffel</div>
        <div class="board-member__phone"></div>
        <div class="board-member__address"></div>
        <div class="board-member__city"></div>
      </address>
    </div>
    <div class="board-member">
      <div class="board-member__role">Schiedsrichterobmann</div>
      <address>
        <div class="board-member__name">Thomas Metzner</div>
        <div class="board-member__phone"><a href="tel:095166999">0951&nbsp;66999</a></div>
        <div class="board-member__phone"><a href="tel:0171146600">0171&nbsp;146600</a></div>
        <div class="board-member__address"></div>
        <div class="board-member__city"></div>
      </address>
    </div>
    <div class="board-member">
      <div class="board-member__role">Kassenprüfer</div>
      <address>
        <div class="board-member__name">Jürgen Starke</div>
        <div class="board-member__name">Henk Klaasen</div>
        <div class="board-member__phone"></div>
        <div class="board-member__address"></div>
        <div class="board-member__city"></div>
      </address>
    </div>
  </div>
</Layout>
<style>
  .board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--size-2);
    gap: var(--size-3);
  }

  .board-member__role {
    font-weight: bold;
  }
</style>
