---
import Navigation from "./Navigation.astro";
---

<div class="drawer-side">
  <label for="drawer" class="drawer-overlay"></label>
  <ul class="menu inline h-full w-80 overflow-y-auto bg-base-200 p-4">
    <Navigation />
  </ul>
</div>
