<footer class="footer footer-center bg-blue py-4">
  <div class="flex text-neutral-50">
    <a href="/kontakt" class="link">Kontakt</a>
    <div class="divider divider-horizontal"></div>
    <a href="/datenschutz" class="link">Datenschutz</a>
  </div>
</footer>
