---
import Navigation from './Navigation.astro';
---

<header>
  <nav class="navbar">
    <a href="/" class="h-auto w-32 min-w-fit flex-1"
      ><img src={'/assets/logo.svg'} alt="Logo FC Bischberg" loading="eager" /></a
    >
    <div class="mx-2 flex flex-shrink flex-wrap gap-2">
      <a href="/Eintrittserklärung.pdf" class="btn mx-auto min-w-max bg-blue text-lg text-slate-50" target="_blank"
        >Mitglied werden</a
      ><a
        href="/shop"
        target="_blank"
        class="btn mx-auto min-w-max border-2 border-blue bg-slate-50 pl-2 text-lg text-blue"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
          class="h-10 w-10"
          fill="currentColor"
          ><path
            d="M240-80q-33 0-56.5-23.5T160-160v-480q0-33 23.5-56.5T240-720h80q0-66 47-113t113-47q66 0 113 47t47 113h80q33 0 56.5 23.5T800-640v480q0 33-23.5 56.5T720-80H240Zm0-80h480v-480h-80v80q0 17-11.5 28.5T600-520q-17 0-28.5-11.5T560-560v-80H400v80q0 17-11.5 28.5T360-520q-17 0-28.5-11.5T320-560v-80h-80v480Zm160-560h160q0-33-23.5-56.5T480-800q-33 0-56.5 23.5T400-720ZM240-160v-480 480Z"
          ></path></svg
        >Online Shop</a
      >
    </div>
    <div class="hidden lg:block">
      <ul class="menu menu-horizontal flex-shrink px-1 text-xl font-extrabold text-slate-700 dark:text-slate-50">
        <Navigation />
      </ul>
    </div>
    <div class="flex-none lg:hidden">
      <label for="drawer" class="btn btn-square btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-8 w-8 stroke-current text-blue"
        >
          <filter id="white-background">
            <feDropShadow dx="0" dy="1" stdDeviation="0" flood-color="white" flood-opacity="0.5"></feDropShadow>
          </filter>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            style="filter:url(#white-background)"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>
  </nav>
</header>

<style is:global>
  @media (prefers-color-scheme: dark) {
    nav li > a,
    nav summary {
      text-shadow: #000 0 0 5px;
    }
  }
</style>
