---
import Navigation from './Navigation.astro';
---

<header>
  <nav class="navbar nav-dropdown-container">
    <a href="/" class="h-auto w-20 lg:w-40"><img src="/logo.svg" alt="Logo TC Bischberg" loading="eager" /></a>
    <div class="flex-1 spacer"></div>
    <div class="mx-2 flex flex-shrink flex-wrap gap-2">
      <a href="/assets/Aufnahmeantrag.pdf" class="btn mx-auto min-w-max bg-blue text-lg text-slate-50" target="_blank"
        >Mitglied werden</a
      >
    </div>
    <div class="hidden lg:block">
      <ul class="menu menu-horizontal flex-shrink px-1 text-xl font-extrabold text-slate-50 me-8">
        <Navigation />
      </ul>
    </div>
    <div class="flex-none lg:hidden">
      <label for="drawer" class="btn btn-square btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-8 w-8 stroke-current text-blue"
        >
          <filter id="white-background">
            <feDropShadow dx="0" dy="1" stdDeviation="0" flood-color="white" flood-opacity="0.5"></feDropShadow>
          </filter>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            style="filter:url(#white-background)"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>
  </nav>
</header>

<style is:global>
  @media (prefers-color-scheme: dark) {
    nav li > a,
    nav summary {
      text-shadow: #000 0 0 5px;
    }
  }
</style>

<script lang="js">
  var nav = document.querySelector('.nav-dropdown-container');
  nav.addEventListener(
    'toggle',
    function (event) {
      // Only run if the dropdown is open
      if (!event.target.open) return;

      // Get all other open dropdowns and close them
      var dropdowns = nav.querySelectorAll('.nav-dropdown[open]');
      Array.prototype.forEach.call(dropdowns, function (dropdown) {
        if (dropdown === event.target) return;
        dropdown.removeAttribute('open');
      });
    },
    true
  );
</script>
