---
import type { Props as NavigationItemProps } from './NavigationItem.astro';
import NavigationItem from './NavigationItem.astro';

export type Props = {
  link: string;
  label: string;
  items: NavigationItemProps[];
};
const { label, link, items } = Astro.props as Props;
---

<li>
  <details class="nav-dropdown">
    <summary class="w-auto">{label}</summary>
    <ul class="z-10 p-2 text-lg right-0 justify-end text-slate-800">
      {items.map((item) => <NavigationItem {...item} link={`${link}/${item.link}`} />)}
    </ul>
  </details>
</li>
