---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Drawer from '../components/Drawer.astro';

export interface Props {
  frontmatter: {
    title: string;
    noBackground?: boolean;
  };
}

const { frontmatter: { title = '', noBackground = false } = {} } = Astro.props || {};
---

<!doctype html>
<html lang="de" class="drawer h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo64x64.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="drawer-content flex flex-col"
    style={{
      backgroundImage: noBackground ? undefined : 'url(/assets/background.jpg)',
      backgroundSize: 'cover',
      backgroundAttachment: 'fixed',
    }}
  >
    <input id="drawer" type="checkbox" class="drawer-toggle" />
    <Header />
    <main class="flex-1 p-2">
      <div
        class="prose prose-slate mx-auto mb-8 bg-slate-300 bg-opacity-70 p-4 backdrop-blur-sm dark:prose-invert sm:prose-sm lg:prose-xl prose-headings:text-center prose-h1:text-5xl prose-img:m-auto prose-img:rounded-2xl dark:bg-slate-800 dark:bg-opacity-90"
      >
        <slot />
      </div>
    </main>
    <Footer />
    <Drawer />
  </body>
  <style>
    .background {
      background-size: cover;
      background-attachment: fixed;
    }
  </style>
</html>
