<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/logo.svg" />
    <link rel="stylesheet" href="https://unpkg.com/open-props" />
    <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/open-props/buttons.min.css" />
    <link rel="stylesheet" href="/global.css" />
  </head>

  <body>
    <header class="header">
      <div class="header__logo">
        <a href="/" class="logo__link">
          <img alt="Logo" src="/assets/logo.svg" class="logo__image" />
        </a>
      </div>

      <input type="checkbox" id="navigation__drawer-checkbox" />
      <label class="navigation__drawer-opener" for="navigation__drawer-checkbox">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <filter id="white-background">
            <feDropShadow dx="0" dy="1" stdDeviation="0" flood-color="white" flood-opacity="0.5"></feDropShadow>
          </filter>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            style="filter:url(#white-background)"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
      <label class="navigation__drawer-overlay" for="navigation__drawer-checkbox"></label>
      <div class="navigation__drawer">
        <nav class="navigation">
          <a href="/assets/Aufnahmeantrag.pdf" target="_blank" class="navigation__item become-member">Werde Mitglied!</a
          >
          <a href="/aktuelles" class="navigation__item">Aktuelles</a>
          <details class="navigation__item">
            <summary> Vereinswesen</summary>
            <a href="/vorstand" class="navigation__item">Vorstand und Ansprechpartner</a>
            <a href="/satzung/arbeitsdienst" class="navigation__item">Arbeitsdienst</a>
            <a href="/satzung/beitragsordnung" class="navigation__item">Beitragsordnung</a>
            <a href="/satzung/platzordnung" class="navigation__item">Platzordnung</a>
          </details>
          <a href="/mannschaften" class="navigation__item">Mannschaften</a>
          <details class="navigation__item">
            <summary> Archiv</summary>
            <a href="/archiv/kurzchronik" class="navigation__item">Kurzchronik</a>
            <a href="/archiv/rueckblicke/2020" class="navigation__item">Rückblick 2020</a>
            <a href="/archiv/rueckblicke/2019" class="navigation__item">Rückblick 2019</a>
          </details>
        </nav>
      </div>
    </header>
    <main class="content__wrapper">
      <slot />
    </main>
    <footer class="footer">
      <a href="/impressum">Impressum</a>
      <span class="footer__link-separator">|</span>
      <a href="/datenschutz">Datenschutz</a>
      <span class="footer__link-separator">|</span>
      <a href="/anfahrt">Anfahrt</a>
    </footer>
  </body>
</html>
